@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(
    to bottom,
    #121316,
    #121316,
    #121316,
    #121316,
    #121316,
    #15171d,
    #181a23,
    #1b1e2a,
    #23263a,
    #2d2d49,
    #393459,
    #483b68
  );
  min-height: 100vh;
  color: white;
}

.btn {
  background-color: rgb(172, 86, 255);
  box-shadow: rgb(172, 86, 255) 0px -1px 11px;
}
.btn:hover {
  box-shadow: rgb(172, 86, 255) 0px -1px 31px;
}
.contact:hover {
  box-shadow: rgb(172, 86, 255) 0px -1px 11px;
  cursor: pointer;
}

.video {
  background-color: transparent;
  border: 1px solid rgb(172, 86, 255);
  transform: scale(1.1);
}
.play {
  transition: all 0.4s ease-in-out;
}
.play:hover {
  transform: scale(1.2);
}
.loader {
  width: 24px;
  height: 24px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 5px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
